
.footer {
    height: 4rem;
    width: 100%;
    border-top: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
  }
  .text-input {
    width: 100%;
    border: 1px solid white;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    background: gray;
    color: white;    
    margin-right: 2rem;
  
  }
  .send {
    background: white;
    border-radius: 50%;
    border: none;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: 3.2rem;
    cursor: pointer;
  }
  